<div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
              <h4 class="mb-sm-0">Lista de Usuarios</h4>
              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                  <li class="breadcrumb-item"><a href="javascript: void(0);">Usuarios</a></li>
                </ol>
              </div>
            </div>
            <button [routerLink]="['/usuarios/crear-usuario']" type="button"
                                        class="btn btn-soft-primary btn-label mb-3"><i
                                            class="bx bx-user-plus label-icon fs-16"></i> Crear Usuario</button>
            
            <!-- Buscador de usuarios en una Card -->
<div class="search-form">
  <div class="card mb-4 p-3"> <!-- Añadí un padding a la card con "p-3" -->
    <div class="card-header">
      <h5>Buscar Usuarios</h5>
    </div>
    <div class="card-body">
      <form (ngSubmit)="listarUsuarios()">
        
        <!-- Fila 1 con Apellido Paterno y Apellido Materno -->
        <div class="row mb-3"> <!-- Margen abajo para separar filas -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="p_usu_apepat">Apellido Paterno</label>
              <input type="text" class="form-control" id="p_usu_apepat" [(ngModel)]="p_usu_apepat" name="p_usu_apepat" placeholder="Ingresa tu apellido paterno" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="p_usu_apemat">Apellido Materno</label>
              <input type="text" class="form-control" id="p_usu_apemat" [(ngModel)]="p_usu_apemat" name="p_usu_apemat" placeholder="Ingresa tu apellido materno" required>
            </div>
          </div>
        </div>

        <!-- Fila 2 con Nombre y Login -->
        <div class="row mb-3"> <!-- Margen abajo para separar filas -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="p_usu_nombre">Nombre</label>
              <input type="text" class="form-control" id="p_usu_nombre" [(ngModel)]="p_usu_nombre" name="p_usu_nombre" placeholder="Ingresa tu nombre" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="p_usu_loging">Usuario</label>
              <input type="text" class="form-control" id="p_usu_loging" [(ngModel)]="p_usu_loging" name="p_usu_loging" placeholder="Ingresa tu Usuario" required>
            </div>
          </div>
        </div>

        <!-- Botón de Buscar -->
        <div class="form-group text-center mt-3"> <!-- Añadí margen arriba con "mt-3" -->
          <button type="submit" class="btn btn-primary">Buscar</button>
          
        </div>
        
      </form>
    </div>
  </div>
</div>

          </div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-xl-12">
                <div class="card card-h-100">
                  <div class="card-body">
                    
  
                    <div class="table-responsive">
                      <div class="d-flex justify-content-between mb-3">
                        <div>
                          <label for="rowsPerPage" class="me-2">Filas por página:</label>
                          <select id="rowsPerPage" [(ngModel)]="itemsPerPage" (change)="onRowsPerPageChange()" class="form-select form-select-sm">
                            <option *ngFor="let option of rowsPerPageOptions" [value]="option">{{ option }}</option>
                          </select>
                        </div>
                      </div>
                    
                      <table class="table table-hover align-middle mb-0">
                        <thead class="table-light">
                          <tr>
                            <th scope="col" class="text-center">N°</th>
                            <th scope="col" class="text-center">Nombre</th>
                            <th scope="col" class="text-center">Usuario</th>
                            <th scope="col" class="text-center">Fecha de Inicio</th>
                            <th scope="col" class="text-center">Estado</th>
                            <th scope="col" class="text-center">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of dataUsuarios | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let idx = index" class="text-center">
                            <td>{{ idx + 1 + (p - 1) * itemsPerPage }}</td> <!-- Adjust index based on current page and items per page -->
                            <td>{{ data.usu_nomcom }}</td>
                            <td>{{ data.usu_loging }}</td>
                            <td>{{ data.usu_fecini }}</td>
                            <td class="{{ utils.statusColor(data.usu_activo) }}">{{ data.usu_estado }}</td>
                            <td>
                              <div class="row justify-content-center align-items-center">
                                <div class="col-auto">
                                  <a (click)="desactivar(data.usu_id, data.usu_activo)"
                                     class="{{ utils.getEnableButtonClass(data.usu_activo) }} fs-15"
                                     style="cursor: pointer;"
                                     title="{{ utils.getEnableButtonText(data.usu_activo) }} Empresa">
                                    <i class="bx bx-power-off"></i>
                                  </a>
                                </div>
                                <div class="col-auto">
                                  <button class="btn btn-primary btn-sm" title="Gestionar Accesos"
                                          (click)="listarAccesosUsuarios(data.usu_id); open(modalAccesos)">
                                    <i class="bi bi-house-lock"></i>
                                  </button>
                                </div>
                                <div class="col-auto">
                                  <button class="btn btn-primary btn-sm" title="Gestionar Permisos"
                                          (click)="listarUsuariopermisoapf(data.usu_id)"
                                          (click)="open(permissionsModal)">
                                    <i class="bi bi-key"></i>
                                  </button>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    
                      <!-- Pagination Controls -->
                      <div class="pagination-container">
                        <pagination-controls (pageChange)="p = $event" [maxSize]="5" [directionLinks]="true" [autoHide]="true"></pagination-controls>
                      </div>
                    </div>
                    
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 <!-- Modal de permisos -->
<ng-template #permissionsModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Gestión de Permisos</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cerrar')"></button>
    </div>
    <div class="modal-body">
        
       <!-- Selección de la aplicación -->
<div class="mb-3">
    <label for="selectAplicacion" class="form-label">Seleccionar Aplicación</label>
    <select class="form-select" id="selectAplicacion" [(ngModel)]="p_apl_id" (change)="onAplicacionChange()">
      <option value="0">Seleccionar Aplicación</option>
      <option *ngFor="let app of dataAplicacion" [value]="app.apl_id">{{ app.apl_descri }}</option>
    </select>
  </div>
  
  <!-- Selección del perfil basado en la aplicación -->
  <div class="mb-3">
    <label for="selectPerfil" class="form-label">Seleccionar Perfil</label>
    <select class="form-select" id="selectPerfil" [(ngModel)]="p_apf_id">
      <option value="0">Seleccionar Perfil</option>
      <option *ngFor="let perfil of dataAplicacionPerfil" [value]="perfil.apf_id">{{ perfil.prf_descri }}</option>
    </select>
  </div>
  
  <!-- Botón para guardar los permisos -->
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="registrarPermisoUsuario()">Guardar Permiso</button>
  </div>
  

        <!-- Tabla de permisos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Aplicación</th>
                    <th>Perfil</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let permiso of datausuariopermisoapf">
                    <td>{{ permiso.pus_numitm }}</td>
                    <td>{{ permiso.apl_descri }}</td>
                    <td>{{ permiso.prf_descri }}</td>
                    <td>{{ permiso.pus_activo ? 'Activo' : 'Inactivo' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

  
<!-- Modal Accesos -->
<ng-template #modalAccesos let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Accesos del Usuario</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cerrar')"></button>
    </div>
    <div class="modal-body">

        <!-- Sección para seleccionar la aplicación -->
        <div class="mb-3">
            <label for="selectAplicacion" class="form-label">Seleccionar Aplicación</label>
            <select class="form-select" id="selectAplicacion" [(ngModel)]="selectedAplicacionId">
                <!-- Opción por defecto -->
                <option value="0">Seleccionar Aplicación</option>
                <option *ngFor="let app of dataAplicacion" [value]="app.apl_id">{{ app.apl_descri }}</option>
            </select>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="registrarUsuarioApliacion()">Guardar Acceso</button>
        </div>

        <!-- Tabla de accesos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Aplicación</th>
                    <th>Nombre completo</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acceso of dataAccesosusuarios">
                    <td>{{ acceso.uap_id }}</td>
                    <td>{{ acceso.apl_descri }}</td>
                    <td>{{ acceso.usu_nomcom }}</td>
                    <td>{{ acceso.usu_loging }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>